<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>Trang chủ</title>
    <base href="/">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    
</head>
<body>
    <header>
        <nav>
           <div class="tab">
                <a class="tab-home" href="index.html">
                    <i class="large material-icons">home</i>
                    <span>TRANG CHỦ</span>
                </a>
                <a class="tab-author" href="review.html">
                    <i class="large material-icons">create</i>
                    <span>THẢO LUẬN</span>
                </a>
                <a class="tab-ranking" href="ranking.html">
                    <i class="large material-icons">equalizer</i>
                    <span>BẢNG XẾP HẠNG</span>
                </a>
                <a class="tab-author" href="category.html">
                    <i class="material-icons">view_list</i>
                    <span>THỂ LOẠI</span>
                </a>
                <a id="showSidebar" class="tab-menu" href="login.html">
                    <i class="large material-icons">person</i>
                    <span>TÀI KHOẢN</span>
                </a>    
           </div>
        </nav>
    </header>
    <div class="wrapper">
        <div class="logo">
            <img src="images/logo.png" alt="Story">
        </div>
        <div class="search-form">
            <input type="text" placeholder="Tìm kiếm...">
            <a href="#!"><i class="material-icons">search</i></a>
        </div>
        <div class="result">
            <div class="card">
           <div class="card-thumb">
                <a href="book-info.html"><img class="thumb" src="smock/totto-chan.jpg" alt="Tot-to-chan"></a>
            </div>
            
            <h1><a href="">Totto-chan</a></h1>
            <h2>15/12/2016 | 10/10</h2>
            
        </div>
        <div class="card">
           <div class="card-thumb">
                <a href="book-info.html"><img class="thumb" src="smock/giet_con_chim_nhai.jpg" alt="Giết con chim nhại"></a>
            </div>
            
            <h1><a href="">Giết con chim nhại</a></h1>
            <h2>15/12/2016 | 10/10</h2>
            
        </div>
        <div class="card">
           <div class="card-thumb">
                <a href="book-info.html"><img class="thumb" src="smock/giet_con_chim_nhai.jpg" alt="Giết con chim nhại"></a>
            </div>
            
            <h1><a href="">Giết con chim nhại</a></h1>
            <h2>15/12/2016 | 10/10</h2>
            
        </div>
        <div class="card">
           <div class="card-thumb">
                <a href="book-info.html"><img class="thumb" src="smock/toi-la-ai-va-neu-vay-thi-bao-nhieu.jpg" alt="Tôi là ai và nếu vậy thì bao nhiêu"></a>
            </div>
            
            <h1><a href="">Tôi là ai và nếu vậy thì bao nhiêu</a></h1>
            <h2>15/12/2016 | 10/10</h2>
        </div>
        <div class="card">
           <div class="card-thumb">
                <a href="book-info.html"><img class="thumb" src="smock/giet_con_chim_nhai.jpg" alt="Giết con chim nhại"></a>
            </div>
            
            <h1><a href="">Giết con chim nhại</a></h1>
            <h2>15/12/2016 | 10/10</h2>
            
        </div>
        <div class="card">
           <div class="card-thumb">
                <a href="book-info.html"><img class="thumb" src="smock/giet_con_chim_nhai.jpg" alt="Giết con chim nhại"></a>
            </div>
            
            <h1><a href="">Giết con chim nhại</a></h1>
            <h2>15/12/2016 | 10/10</h2>
            
        </div>
        <div class="card">
           <div class="card-thumb">
                <a href="book-info.html"><img class="thumb" src="smock/toi-la-ai-va-neu-vay-thi-bao-nhieu.jpg" alt="Tôi là ai và nếu vậy thì bao nhiêu"></a>
            </div>
            
            <h1><a href="">Tôi là ai và nếu vậy thì bao nhiêu</a></h1>
            <h2>15/12/2016 | 10/10</h2>
        </div>  
          
        
        </div>
    </div>
    <footer>
        <div>@2016 | Linh Ho</div>
    </footer>
</body>
</html>
