<!--
Author: Linh Ho
-->
<div class="logo">
    <img src="assets/images/logo.png" alt="Story">
</div>
<div class="search-form">
    <input type="text" placeholder="Tìm kiếm..." [(ngModel)]="bookSearch" (keydown.enter)="search()" (ngModelChange)="checkClearSearch()">
    <a routerLink="" (click)="search()" *ngIf="!searchStatus"><i class="material-icons">search</i></a>
    <a routerLink="" (click)="clearSearch()" *ngIf="searchStatus"><i class="material-icons">clear</i></a>
</div>
<div class="create-item" *ngIf="_auth.authenticated()">
  <a class="create-book" routerLink="/sach/themsach"><i class="large material-icons">note_add</i></a>
</div>

<div class="results" 
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()">
        <template ngFor let-story="$implicit" [ngForOf]="stories" let-i="index">
            <div class="card">
                <div class="card-thumb">
                <a routerLink="/sach/{{story.Slug}}"><img class="thumb" src="{{story.Image}}" alt=""></a>
                </div>
                <h1><a routerLink="/sach/{{story.Slug}}">{{story.StoryName}}</a></h1>
                <h2><a routerLink="/tac-gia/{{story.Author.Slug}}">{{story.Author.AuthorName}} </a>| <app-star [score]="story.Score" [rateCount]="story.RateCount"></app-star></h2>
            </div>      
        </template>
        <img *ngIf="searchNull" src="assets/images/nulldata.png" style="display: block ;max-width: 100%; margin:auto;" alt="Không tìm thấy data">
</div>
